html{
    scroll-behavior: smooth;
}

body{
    color: #fff;
    background-color: #9dbcbc;
}

h1{
    font-size: 36px;
   
}

h2{
    font-size: 24px;
}

h3{
    font-size: 18px
}

.mt-5 {
    margin-top: 5 !important;
  }

